@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;800&display=swap");

:root {
	--color-primary-light: hsl(193, 38%, 86%);
	--color-primary-neon: hsl(150, 100%, 66%);
	--color-primary-background: hsl(218, 23%, 16%);

	--color-secondary-light: hsl(217, 19%, 38%);
	--color-secondary-background: hsl(217, 19%, 24%);
}

html {
	margin: 0;
	padding: 0;
}

body {
	background-color: var(--color-primary-background, darkslategray);
	font-family: "Manrope", sans-serif;
	font-size: 28px;
	text-align: center;
}

#wrapper {
	background-color: var(--color-secondary-background, slategray);
	border-radius: 10px;
	margin: 30vh auto 0;
	padding: 30px;
	width: 75vw;
}

h1 {
	color: var(--color-primary-neon, palegreen);
	text-transform: uppercase;
	font-size: 0.5em;
	letter-spacing: 3px;
	padding-top: 10px;
}
p {
	color: var(--color-primary-light, whitesmoke);
	font-weight: 800;
}

#divider {
	padding-bottom: 40px;
}

#diceBtn {
	background-color: var(--color-primary-neon, palegreen);
	padding: 15px;
	width: 35px;
	height: 35px;
	border-radius: 50%;
	margin: -35px auto 0;
	cursor: pointer;
}

@media screen and (min-width: 1024px) {
	#wrapper {
		width: 33vw;
	}
	#divider {
		padding-top: 15px;
		padding-bottom: 50px;
	}
}
